<% if notice %>
<p class="alert alert-primary"><%= notice %></p>
<% end %>
<h1>Listing Items</h1>
<div id="bid--new">
</div>
<div id="bid--table">
  <%= render :partial => "table" %>
</div>
<br>
<div id="form--new"></div>
<%= link_to 'New Item', new_item_path, remote: true, class: "btn btn-primary btn-small" %>
